{
  "env": {
  "node": true
  },
  "parserOptions": {
  "ecmaVersion": 11,
  "sourceType": "module"
  },
  "rules": {
  "no-console": 0,
  "space-in-parens": ["error", "always"]
  },
  "plugins": ["prettier"]
}
