.ffa-color--running .t-BadgeList-label {
  color: white!important;
}

.ffa-color--terminated .t-BadgeList-label {
  color: white!important;
}

.ffa-color--error .t-BadgeList-label {
  color: white!important;
}